[submodule "Practico1_arquitectura_de_computadoras__SingleCycleProcessor"]
	path = SingleCycleProcessor
	url = git@github.com:IvanRenison/Practico1_arquitectura_de_computadoras__SingleCycleProcessor.git
